.dashboard-grid {
  position: fixed;
  top: 90px;
  left: 240px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

.dashboard-heading {
  font-size: 22px;
  margin-bottom: 20px;
}

.dashboard-cardHover {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.09);
  border: 1px solid snow;
}

.dashboard-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.anatomy-and-health {
  flex: 1 1 50%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.calendar-view {
  flex: 1 1 40%;
  min-width: 300px;
}

.activity-feed,
.upcoming-schedule {
  flex: 1 1 33%;
  min-width: 300px;
  padding: 20px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .dashboard-grid {
    top: 40px;
  }

  .dashboard-grid .anatomy-and-health {
    flex-direction: row;
  }

}

@media (max-width: 1024px) {
  .dashboard-grid {
    margin-top: 45px;
    position: relative;
    left: 0;
    padding: 15px;
  }

  .dashboard-heading {
    font-size: 20px;
    text-align: center;
  }

  .anatomy-and-health {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .anatomy-and-health,
  .calendar-view,
  .activity-feed,
  .upcoming-schedule {
    flex: 1 1 100%;
  }
}